header  {

    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    top: 0px;
    width: 100%;    
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    background-color: rgb(25, 25, 75);
}

menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: white;
    padding: 15px;
    font-family: Roboto;
    font-size: 20px;
    border-width: 5px 0px 5px 0px;
}

a {
    display: flex;
    font-weight: 300;
    font-family: Roboto;
    font-size: 20px;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: none;
}

.imagengf { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footera {
    text-decoration: underline;
    color: black;
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
    display: center;
}